{% extends 'home/layout.html'%}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('home.home')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Register AWS AccessKey</li>
        </ol>
    </nav>
    <div class="row g-5">
        <div class="col-md-6">
            <form  class="mt-2" action="" method="POST">
                {{form.hidden_tag()}}
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Key Name</label>
                    {{form.keyname(class="form-control")}}
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Access Key ID</label>
                    {{form.access_keyid(class="form-control")}}
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Secret Key</label>
                    {{form.secret_keyid(class="form-control")}}
                </div>
                {{form.submit(class="btn btn-primary")}}
            </form>
        </div>

        <div class="col-md-6">
            
        </div>
    </div>
{% endblock content %}